body{
  background-color: #1e1e1e;
  text-align: center;
}

a{
  color: #ffff;
}

p{
  color: #808080;
  font-family: Arial;
  font-size: 1.2em;
  margin-bottom: 10px;
}

h1{
  color: #ffff;
  font-family: Arial;
  font-size: 3em;
  margin-bottom: 10px;
}

h3{
  color: #ffff;
  font-family: Arial;
  font-size: 2em;
  margin-bottom: 10px;
}

input{
  background-color: #1e1e1e;
  color: #ffff;
  border: solid;
  border-width: 2.5px;
  border-radius: 5px;
  font-family: Arial;
  font-size: 1em;
  width: 200px;
  margin: -15px;
}

button{
  margin: 15px;
  color: #ffffff;
  background-color: #1b1b1b;
  border: #ffffff solid 2.5px;
  font-size: 1em;
  padding: 8px 8px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

button:hover{
  color: #1b1b1b;
  background-color: #ffff;
  border-color: #ffff;
}